body {
    font-family: Arial, sans-serif;
    background-image: url(pexels-giallo-859895.jpg); /* Replace 'background-image.jpg' with the actual image file name */
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #000000 ;
    color: rgb(255, 255, 255);
    padding-bottom: 1%;
}

form {
    width: 50%;
    margin: 2em auto;
    background-color: rgba(255, 255, 255, 0.8); /* Added transparency to the form background */
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 1em 0 0.5em;
}

input, select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

button {
    background-color:black;
    color: white;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#4CAF50;
    box-shadow: 0 0 10px 0 #00aca4;
}
.bg-img{
    background-image: url(medicine-wallpaper--32616181.png);
}
